<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= myTitle %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <style>
      :root {
        --main-color: #2196f3;
        --main-orange: #ff5722;
        --main-green: #23a96e;
      }
      body {
        font-family: "Cairo", sans-serif;
      }
      ul {
        list-style: none;
      }
      a {
        text-decoration: none;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .card {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
      @media (min-width: 768px) {
        .card {
          width: 750px;
        }
      }
      @media (min-width: 992px) {
        .card {
          width: 970px;
        }
      }
      @media (min-width: 1200px) {
        .card {
          width: 1170px;
        }
      }
      header {
        height: 70px;
        background-color: #fff;
        box-shadow: 0 0 10px #ddd;
        position: relative;
      }

      header .card {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
      }

      header .logo {
        text-decoration: none;
        color: var(--main-color);
        font-size: 26px;
        font-weight: bold;
      }
      header ul {
        display: flex;
      }
      header .nav a {
        color: #000;
        transition: all 0.2s;
        font-size: 18px;
        font-weight: 400;
        margin: 0 10px;
      }

      header .nav a:hover,
      header .nav a.active {
        color: var(--main-color);
      }
      @media (max-width: 767px) {
        header .card {
          height: 122px;
          flex-wrap: wrap;
        }
        header .logo {
          text-align: center;
          width: 100%;
        }
        header {
          height: 122px;
        }
        header ul {
          width: 100%;
          justify-content: center;
        }
      }
      .book {
        margin-bottom: 20px;
      }
      .book .box {
        background-color: #fafafa;
        padding: 10px 20px;
        transition: 0.3s;
        display: block;
      }
      .book .box:hover {
        background-color: #e1e1e1;
      }
      .book .box {
        margin-bottom: 20px;
      }
      .book .box .top {
        font-size: 22px;
        color: #000;
      }

      .book .box .bottom {
        color: #666;
        font-size: 20px;
        font-weight: 300;
      }
      .footer {
        text-align: center;
        height: 64px;
        background-color: var(--main-green);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 20px;
        font-weight: 400;
      }
    </style>
  </head>
  <body>
    <header class="header">
      <div class="card">
        <a href="/" class="logo"><%= name %></a>
        <ul class="nav">
          <li>
            <a href="#book">Books</a>
          </li>
        </ul>
      </div>
    </header>

    <div class="book" id="book">
      <div class="card" style="margin-top: 20px">
        <div class="list">
          <% userFound.forEach(e => { %>
          <div class="box">
            <div class="top"><%= e.name %></div>
            <div class="bottom"><%= e.writer %></div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>

    <% let text = "Made With <3 By Book Site" %>
    <footer class="footer"><%= text %></footer>
  </body>
</html>
